src/__pycache__/DMS.cpython-39.pyc
src/__pycache__/StT.cpython-39.pyc
src/__pycache__/TtS.cpython-39.pyc
Arduino/testEasingOneServo/PinDefinitionsAndMore-udito-safeBackup-0001.h
*safeBackup*
python-3.10.12
python-3.9.21
*.pyc
ROS/*
Arduino/libraries
*__pycache__*
ros2_ws/build
ros2_ws/install
ros2_ws/log
ros2_ws/utterance.wav
*utterance.wav